@font-face{
    font-family: "Dubai Light";
    src: url('DubaiW23-Light.ttf'),
         url('DubaiW23-Light.eot'),
         url('DubaiW23-Light.woff'),
         url('DubaiW23-Light.woff2');
}

@media screen and (orientation:landscape) {
    body{  
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translateY(-30%);
        transform: translateX(-50%);
        text-align: center;
    }

    #rqdiv{
        font-size: 36px;
    }
}
@media screen and (orientation:portrait) {
    body{  
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateY(-30%);
        transform: translateX(-50%);
        text-align: center;
    }

    #rqdiv{
        font-size: 28px;
    }
}

body{
    font-family: "Dubai Light", sans-serif;
    background-color: #fdfdfd;
    -webkit-user-select: none;
    user-select: none;
}

a:link {
    color: rgb(39, 39, 39);
    text-decoration: none;
}
a:visited {
    color: rgb(114, 114, 114);
    text-decoration: none;
}
a:hover {
    color: rgb(179, 179, 179);
    text-decoration: underline;
}
a:active {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

#aboutme{
    font-size: 20px;
    color: rgb(39, 39, 39);
}

#smallbr{
    font-size: 4px;
}