@font-face{
    font-family: "Dubai Medium";
    src: url('DubaiW23-Medium.ttf'),
         url('DubaiW23-Medium.eot'),
         url('DubaiW23-Medium.woff'),
         url('DubaiW23-Medium.woff2');
}

@keyframes fade-in {  
    0% {opacity: 0;} 
    20% {opacity: 0;}  
    100% {opacity: 1;} 
}  
@-webkit-keyframes fade-in {
    0% {opacity: 0;}  
    20% {opacity: 0;}
    100% {opacity: 1;}  
}

body{
    font-family: "Dubai Medium", sans-serif;
    background-color: #f7f7f7;
    animation: fade-in;
    animation-duration: 1s;
    -webkit-animation:fade-in 1s;
}
a:link {
    color:rgb(105, 105, 105);
    text-decoration:none;
}
a:visited {
    color:rgb(51, 51, 51);
    text-decoration:none;
}
a:hover {
    color:rgb(179, 179, 179);
    text-decoration: underline;
}
a:active {
    color:rgb(0, 0, 0);
    text-decoration: underline;
}

#maindiv{
    display:flex;
    align-items:center;
}
#titlediv{
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateY(-30%);
    transform: translateX(-50%);
    text-align: center;
    color: rgb(5, 5, 11)
}
#rqdiv{
    font-size: 54px;
}
#aboutme{
    font-size: 28px;
    color: rgb(39, 39, 39);
}
#moreaboutme{
    font-size: 23px;
    color: rgb(39, 39, 39);
}
#contactme{
    font-size: 15px;
    color: rgb(39, 39, 39);
}
